{% load static %}

<footer class="container-fluid">
    <div class="row">
        <!--Social media links-->
        <div class="col-12 d-flex justify-content-between py-5">
            <a href="#" target="_blank" rel="noopener" aria-label="Linked - Opens in new tab"
                class="footer__links">Instagram</a>
            <a href="#" target="_blank" rel="noopener" aria-label="Linked - Opens in new tab"
                class="footer__links">Youtube</a>
            <a href="#" target="_blank" rel="noopener" aria-label="Linked - Opens in new tab"
                class="footer__links">Pinterest</a>
            <a href="#" target="_blank" rel="noopener" aria-label="Linked - Opens in new tab"
                class="footer__links">Twitter</a>
        </div>
    </div>
</footer>